// Display Styles
// Display None
.d-none {
    display: none;
}

// Display Inline
.d-inline {
    display: inline;
}

// Display Inline Block
.d-inline-block {
    display: inline-block;
}

// Display Block
.d-block {
    display: block;
}

// Display Table
.d-table {
    display: table;
}

// Display Table Cell
.d-table-cell {
    display: table-cell;
}

// Display Table Row
.d-table-row {
    display: table-row;
}

// Display Flex
.d-flex {
    display: flex;
}

// Display Inline Flex
.d-inline-flex {
    display: inline-flex;
}
