// Padding Styles
// Padding 0.25rem
.p-1 {
  padding: 0.25rem !important;
}

// Padding 0.5rem
.p-2 {
  padding: 0.5rem !important;
}

// Padding 1rem
.p-3 {
  padding: 1rem !important;
}

// Padding 2rem
.p-4 {
  padding: 2rem !important;
}

// Padding 3rem
.p-5 {
  padding: 3rem !important;
}

// Padding 4rem
.p-6 {
  padding: 4rem !important;
}

// Padding Left
// Padding Left .25rem
.pl-1 {
  padding-left: .25rem !important;
}

// Padding Left .5rem
.pl-2 {
  padding-left: .5rem !important;
}

// Padding Left 1rem
.pl-3 {
  padding-left: 1rem !important;
}

// Padding Left 2rem
.pl-4 {
  padding-left: 2rem !important;
}

// Padding Left 3rem
.pl-5 {
  padding-left: 3rem !important;
}

// Padding Left 4rem
.pl-6 {
  padding-left: 4rem !important;
}

// Padding Right
// Padding Right .25rem
.pr-1 {
  padding-right: .25rem !important;
}

// Padding Right .5rem
.pr-2 {
  padding-right: .5rem !important;
}

// Padding Right 1rem
.pr-3 {
  padding-right: 1rem !important;
}

// Padding Right 2rem
.pr-4 {
  padding-right: 2rem !important;
}

// Padding Right 3rem
.pr-5 {
  padding-right: 3rem !important;
}

// Padding Right 4rem
.pr-6 {
  padding-right: 4rem !important;
}

// Padding Top
// Padding Top .25rem
.pt-1 {
  padding-top: .25rem !important;
}

// Padding Top .5rem
.pt-2 {
  padding-top: .5rem !important;
}

// Padding Top 1rem
.pt-3 {
  padding-top: 1rem !important;
}

// Padding Top 2rem
.pt-4 {
  padding-top: 2rem !important;
}

// Padding Top 3rem
.pt-5 {
  padding-top: 3rem !important;
}

// Padding Top 4rem
.pt-6 {
  padding-top: 4rem !important;
}

// Padding Bottom
// Padding Bottom .25rem
.pb-1 {
  padding-bottom: .25rem !important;
}

// Padding Bottom .5rem
.pb-2 {
  padding-bottom: .5rem !important;
}

// Padding Bottom 1rem
.pb-3 {
  padding-bottom: 1rem !important;
}

// Padding Bottom 2rem
.pb-4 {
  padding-bottom: 2rem !important;
}

// Padding Bottom 3rem
.pb-5 {
  padding-bottom: 3rem !important;
}

// Padding Bottom 4rem
.pb-6 {
  padding-bottom: 4rem !important;
}

// Padding Top & Bottom
// Padding Top & Bottom .25rem
.py-1 {
  padding-top: .25rem !important;
  padding-bottom: .25rem !important;
}

// Padding Top & Bottom .5rem
.py-2 {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

// Padding Top & Bottom 1rem
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

// Padding Top & Bottom 2rem
.py-4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

// Padding Top & Bottom 3rem
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

// Padding Top & Bottom 4rem
.py-6 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

// Padding Left & Right
// Padding Left & Right .25rem
.px-1 {
  padding-left: .25rem !important;
  padding-right: .25rem !important;
}

// Padding Left & Right .5rem
.px-2 {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}

// Padding Left & Right 1rem
.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

// Padding Left & Right 2rem
.px-4 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

// Padding Left & Right 3rem
.px-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

// Padding Left & Right 4rem
.px-6 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}