/**
 *  Color Scheme
 */
 $red: #d10027;

/**
  *  Gray Spectrum
  */
$white: #ffffff;
$gray5: darken($white, 5%);
$gray10: darken($white, 10%);
$gray15: darken($white, 15%);
$gray20: darken($white, 20%);
$gray25: darken($white, 25%);
$gray30: darken($white, 30%);
$gray35: darken($white, 35%);
$gray40: darken($white, 40%);
$gray45: darken($white, 45%);
$gray50: darken($white, 50%);
$gray55: darken($white, 55%);
$gray60: darken($white, 60%);
$gray65: darken($white, 65%);
$gray70: darken($white, 70%);
$gray75: darken($white, 75%);
$gray80: darken($white, 80%);
$gray85: darken($white, 85%);
$gray90: darken($white, 90%);
$gray95: darken($white, 95%);
$black: #000000;