/**
 *  Color Scheme
 */
 $red: #d3202a;
 $lightred: #eb9f82;
 $green: #00733e;
 $lightgreen: #c4d3ca;
 $plains: #f8e7b9;
 $lightplains:  #f8e7b9;
 $blue: #0e68ab;
 $lightblue: #b3ceea;

/**
  *  Gray Spectrum
  */
$white: #ffffff;
$gray5: darken($white, 5%);
$gray10: darken($white, 10%);
$gray15: darken($white, 15%);
$gray20: darken($white, 20%);
$gray25: darken($white, 25%);
$gray30: darken($white, 30%);
$gray35: darken($white, 35%);
$gray40: darken($white, 40%);
$gray45: darken($white, 45%);
$gray50: darken($white, 50%);
$gray55: darken($white, 55%);
$gray60: darken($white, 60%);
$gray65: darken($white, 65%);
$gray70: darken($white, 70%);
$gray75: darken($white, 75%);
$gray80: darken($white, 80%);
$gray85: darken($white, 85%);
$gray90: darken($white, 90%);
$gray95: darken($white, 95%);
$black: #000000;

// Purple Palette
$dark-purple: #6662ce;
$purple: #7774cf;
$purple80: #9290d9;
$purple60: #adace2;
$purple40: #c9c7ec;
$purple20: #e4e3f5;
$purple10: #f1f1fa;

// Neutral Palette
$black: #000000;
$neutral01: #373f51;
$neutral02: #5f6574;
$neutral03: #737885;
$neutral04: #878c97;
$neutral05: #afb2b9;
$neutral06: #cacfd3;
$neutral07: #d7d9dc;
$neutral08: #f5f5f6;
$neutral09: #fafafa;
$white: #ffffff;