{
	"extends": ["airbnb", "prettier", "prettier/react"],
	"plugins": ["prettier"],
	"rules": {
    "camelcase": 0,
	  "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-shadow": 0,
	  "react/no-deprecated": 2,
	  "react/prop-types": 0,
    "react/button-has-type": 0,
    "global-require": "error",
    "react/destructuring-assignment": 2,
    "sort-keys": ["error", "asc", {"natural": true, "caseSensitive": false}],
	  "eol-last": ["error", "always"],
	  "no-underscore-dangle": 0,
	  "import/imports-first": ["error", "absolute-first"],
	  "import/newline-after-import": "error",
	  "max-len": ["error", { "code": 80 }],
	  "prettier/prettier": ["error"]
	},
	"globals": {
	  "window": true,
	  "document": true,
	  "localStorage": true,
	  "FormData": true,
	  "FileReader": true,
	  "Blob": true,
	  "navigator": true
	},
	"parser": "babel-eslint",
	"settings": {
		"import/resolver": {
		  "webpack": {
			"config": "./webpack.config.js"
		  }
		}
	  }
}