:global body {
  @import "../scss/padding.scss";
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
  width: 100%;

  .active{
    color:red;
  }

  .global-text {
    color: blue;
  }

  // Display Styles
  .d-inline-block {
    display: inline-block !important;
  }

  .d-block {
    display: block !important;
  }
}